.btnSerchUser {
    width: 100%;
    font-size: 17px;
    color: white;
}

form {
    width: 100%;
    text-align: center;
}

.mat-form-field {
    display: inherit !important;
    position: relative;
    text-align: left;
}
