<mat-dialog-content>
  <div class='row cardMarginBottom'>
    <div class="col-sm-12 col-md-12 col-xl-12">
      <img class='imagenIconoGris'
        src="./assets/images/iconos-coal/consignacion/ins_contrato/documentacion.png">&nbsp;&nbsp;&nbsp;
      <span class="subTitulo">Documentación</span>
    </div>
  </div>

  <div class='row cardMarginBottom'>
    <div class="col-sm-12 col-md-12 col-xl-12 cardMarginBottom">
      <span class='subTitulo'>Documentos faltantes: {{contador}}</span>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-6">
      <mat-form-field class="inputFullWide">
        <mat-select placeholder="Documentos" (selectionChange)="AsignaDocumento($event.value.idDocumento)">
          <mat-option id="bluemat" *ngFor='let documentoFisicaMoral of documentos' [value]="documentoFisicaMoral"
            #tooltip="matTooltip" [matTooltip]="documentoFisicaMoral.nombre" matTooltipPosition="right">
            {{documentoFisicaMoral.nombre}}
          </mat-option>
        </mat-select>
        <mat-error>
          El campo es
          <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div *ngIf='bandera' class='col-sm-12 col-md-6 col-xl-6 text-center'>
      <app-file-upload-component #avatar [IUploadFile]="IUploadFile" (messageEvent)="ResultUploadFile($event)">
      </app-file-upload-component>
    </div>
    <div class="col-sm-12 col-md-12 col-xl-12 text-right">
      <button class="accent-300 colorBlanco" mat-raised-button type="button" (click)='AsignaDocumentosTabla()'
        [disabled]="!documentoTemporal || documentoTemporal.idFileServer === 0">
        Agregar
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-xl-12" *ngIf='documentosTemporales'>
      <app-grid-component [datos]="documentosTemporales" [columns]="columns" [exportExcel]="exportExcel"
        [columnHiding]="columnHiding" [Checkbox]="Checkbox" [Editing]="Editing" [Columnchooser]="Columnchooser"
        [searchPanel]="searchPanel" [scroll]="scroll" (messageEvent)="receiveMessage($event)"
        (datosevent)='datosMessage($event)' [toolbar]="toolbar">
      </app-grid-component>
    </div>
  </div>
  <div class='row text-center'>
    <div class='col-sm-12 col-md-6 col-xl-6'>
      <button class="accent-300 colorBlanco" mat-raised-button type="button">
        Guardar
      </button>
    </div>

    <div class='col-sm-12 col-md-6 col-xl-6'>
      <button (click)='Cancelar()' class="red colorBlanco" mat-raised-button type="button">
        Cancelar
      </button>
    </div>
  </div>
</mat-dialog-content>