<app-spinner-utileria *ngIf='spinner'></app-spinner-utileria>
<div mat-dialog-title>
    <div class="row text-center">
        <div class="col-md-12">
            <label> {{title}} </label>
        </div>
    </div>
</div>
<mat-dialog-content class="mat-typography">
    <mat-card *ngIf="existeBPRO">
        <form [formGroup]="formDescription" class="example-form">
            <div class="row" *ngIf="disabled">
                <div class="col-md-12">
                    <label class="textLabel pull-left"> {{descriptionAditional.value?.length}} /
                        {{maxLengthTextArea}}</label>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Descripcion</mat-label>
                        <textarea matInput required rows="6" [maxlength]="maxLengthTextArea" placeholder="Description"
                            [formControl]="descriptionAditional" [disabled]="true"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </form>
        <div class="row" *ngIf="!disabled">
            <div class="col-md-12">
                <label class="labelText">{{unitDescription}}</label>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <button *ngIf="!disabled" class="btn btn-info editBtn pull-right" (click)="editDescription(!disabled)">
                    Editar <br> <i class="material-icons icons">edit</i>
                </button>
                <button class="btn btn-danger refreshBtn pull-right" (click)="refreshInitialDescription()">
                    Descripcion Inicial <br> <i class="material-icons icons">refresh</i>
                </button>
            </div>
        </div>
    </mat-card>
    <mat-card *ngIf="!existeBPRO">
        <form [formGroup]="formDescription" class="example-form">
            <div class="row" *ngIf="!tieneDescripcion">
                <div class="col-md-12">
                    <label class="textLabel pull-left"> {{descriptionAditional.value?.length}} /
                        {{maxLengthTextArea}}</label>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Descripcion</mat-label>
                        <textarea matInput required rows="6" [maxlength]="maxLengthTextArea" placeholder="Description"
                            [formControl]="descriptionAditional" [disabled]="true"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </form>
        <div class="row" *ngIf="tieneDescripcion">
            <div class="col-md-12">
                <label [ngClass]="{'labelText': !miniumClass, 'labelTextMin': miniumClass}" >{{unitDescription}}</label>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <button *ngIf="tieneDescripcion" class="btn btn-info editBtn pull-right" (click)="editDescriptionBpro(!tieneDescripcion)">
                    Editar <br> <i class="material-icons icons">edit</i>
                </button>
            </div>
        </div>
    </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="0">Cancelar</button>
    <button mat-button (click)="saveDescription()" [mat-dialog-close]="retornarValores"
        [disabled]="!formDescription.valid" cdkFocusInitial>
        <label *ngIf="descriptionAditional.value.length > 0">Actualizar Descripción</label>
        <label *ngIf="descriptionAditional.value.length === 0">Guardar Descripción</label>
    </button>
</mat-dialog-actions>