@import 'src/@fuse/scss/fuse';

fuse-navigation {
    display: flex;
    flex: 1 0 auto;

    > .nav {
        margin: 0 !important;
        padding: 0 !important;
        width: 100% !important;
        display: block !important;
    }
}
