<app-spinner-utileria *ngIf='spinner'></app-spinner-utileria>

<div class='containerAll'>
	<mat-card [ngClass]="{'desactivaPantalla': spinner }">
		<div class="row" [formGroup]="getGeneralForm">
			<div class="col-sm-12 col-md-3 col-xl-4">
				<mat-form-field id="blueversion" class="inputFullWide">
					<mat-select placeholder="Seleccione compañia" formControlName="idDuenoUnidad">
						<mat-option id="bluemat" [value]="0">
							TODO
						</mat-option>
						<mat-option id="bluemat" *ngFor='let company of lstUnidadCompania'
							[value]="company.idCompaniaUnidad">
							{{company.descripcion}}
						</mat-option>
					</mat-select>
					<mat-error>
						El campo es
						<strong>requerido</strong>
					</mat-error>
				</mat-form-field>
			</div>
			<div class="col-sm-12 col-md-3 col-xl-4">
				<mat-form-field id="blueversion" class="inputFullWide">
					<mat-select placeholder="Seleccionar contrato" formControlName="idDesflote">
						<mat-option id="bluemat" [value]="0">
							TODO
						</mat-option>
						<mat-option id="bluemat" *ngFor='let bDesflote of lstDesflote' [value]="bDesflote.idDesflote">
							{{bDesflote.descripcion}}
						</mat-option>
					</mat-select>
					<mat-error>
						El campo es
						<strong>requerido</strong>
					</mat-error>
				</mat-form-field>
			</div>
			<div class="col-sm-12 col-md-3 col-xl-4" style="padding-top: 10px;">

				<button *ngFor="let objeto of modulo.camposClase" class="flotanteDerecha accent colorBlanco"
					mat-raised-button type="button" [disabled]="!getGeneralForm.valid" (click)='GenerateReport()'>
					<span *ngIf="objeto.nombre=='BtnConsultar'">{{objeto.label}}</span>
				</button>
			</div>
		</div>
		<mat-tab-group (selectedTabChange)="ChangeTab($event)" mat-align-tabs="center" animationDuration="500ms" #tabs>
			<mat-tab label="Unidades Disponibles">
				<app-grid-component *ngIf="verGrid" [datos]="reporte" [gridOptions]="gridOptions"
					[columns]="columnsGeneral" [exportExcel]="exportExcel" [columnHiding]="columnHiding"
					[Checkbox]="Checkbox" [Editing]="Editing" [Columnchooser]="Columnchooser" [toolbar]="toolbarGeneral"
					[searchPanel]="searchPanel" [scroll]="scroll" (messageEvent)="receiveMessage($event)"
					(datosevent)='datosMessage($event)' (editevent)='datosUpd($event)' [tipoReporte]='1'
					[cuentaPrimera]='primera' [cuentaSegunda]='segunda' (saveDescription)="saveDescriptionGrid($event)">
				</app-grid-component>
			</mat-tab>
			<mat-tab label="Unidades Vendidas">
				<app-grid-component *ngIf="verGrid" [datos]="data" [gridOptions]="gridOptions" [columns]="columnas2"
					[exportExcel]="exportExcel" [columnHiding]="columnHiding" [Checkbox]="Checkbox" [Editing]="Editing"
					[Columnchooser]="Columnchooser" [toolbar]="toolbar" [searchPanel]="searchPanel" [scroll]="scroll"
					(messageEvent)="receiveMessage($event)" (datosevent)='datosMessage($event)'
					[catalogoModelo]="catalogoModelo" (documentosModal)='Expediente($event.vin)' [tipoReporte]='2'
					[cuentaPrimera]='primera' [cuentaSegunda]='segunda'>
				</app-grid-component>
			</mat-tab>
		</mat-tab-group>
	</mat-card>
</div>